# ==========================
# Virtual Environment
# ==========================
venv/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# ==========================
# IDE Settings
# ==========================
.vscode/
.idea/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Reports
# ==========================
reports/*
!reports/.gitkeep

# ==========================
# Screenshots
# ==========================
screenshots/*.png

# ==========================
# Logs
# ==========================
logs/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db
